/* ------------------------------------------------------ */
/*   Main Styling For Desktop Sizes (Bigger Than 768px)   */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ----------------------- global ----------------------- */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	--very-dark-desaturated-blue: hsl(238, 29%, 16%);
	--soft-red: hsl(14, 88%, 65%);
	--soft-violet: hsl(273, 75%, 66%);
	--soft-blue: hsl(240, 73%, 65%);
	--very-dark-grayish-blue: hsl(237, 12%, 33%);
	--dark-grayish-blue: hsl(240, 6%, 50%);
	--light-grayish-blue: hsl(240, 5%, 91%);
	font-size: 14px;
	font-size: clamp(13px, 1vw, 20px);
}
/* ------------------------ body ------------------------ */
body {
	min-height: 100vh;
	background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
	font-family: "Kumbh Sans", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 1.5;
}
/* -------------------- main faq card ------------------- */
main {
	position: relative;
	width: 90%;
	max-width: 65.9rem;
	padding: 3.4rem 3.4rem 3.4rem 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 2rem;
	background-color: white;
	background-image: url(./images/bg-pattern-desktop.svg);
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: left -2.7rem bottom 0.69rem;
	margin: 2rem 0;
}
/* --------------------- hero image --------------------- */
.hero-image-container {
	width: 50%;
	overflow: hidden;
}
.woman-online-desktop {
	width: 100%;
	transform: translateX(-60px);
}
.woman-online-mobile {
	display: none;
}
.box-desktop {
	width: 10.4rem;
	position: absolute;
	left: -7.7%;
	top: 45%;
}
/* ----------------------- content ---------------------- */
.content {
	width: 50%;
}
h1 {
	color: var(--very-dark-desaturated-blue);
	font-size: 2.5rem;
	margin-bottom: 1.73rem;
}
.questions {
	list-style: none;
}
.question-controller {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--very-dark-grayish-blue);
	font-weight: 400;
}
.question-controller:hover,
.question-controller:active {
	color: var(--soft-red);
	cursor: pointer;
}
.question-controller.question-opened {
	/* we add two class selector to increase cascade */
	font-weight: 700;
	color: var(--very-dark-desaturated-blue);
}
.question-opened .arrow-down {
	transform: rotate(180deg);
}
.question-opened + .answer {
	display: block;
}
.question-content {
	color: inherit;
	font-size: 1.3rem;
	font-weight: inherit;
	margin-right: 1rem;
}
.arrow-down {
	width: 1rem;
}
.answer {
	color: var(--dark-grayish-blue);
	display: none;
	margin-top: 1rem;
	margin-right: 1rem;
}
hr {
	height: 1px;
	width: 100%;
	border: none;
	border-radius: 1.5rem;
	background-color: var(--light-grayish-blue);
	margin: 1rem 0;
}
/* ----------------------- footer ----------------------- */
footer {
	margin-bottom: 1rem;
	width: 80%;
	line-height: 2;
	text-align: center;
	font-size: 1rem;
	font-weight: 700;
	color: var(--very-dark-desaturated-blue);
}
footer a {
	text-underline-offset: 5px;
	color: inherit;
}

/* ------------------------------------------------------ */
/*         Tablet and mobile sizes (768px or less)        */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
@media screen and (max-width: 768px) {
	main {
		margin-top: 25%;
		padding: 16% 2rem 2rem 2rem;
		flex-direction: column;
		align-items: center;
		/* TODO: Set background image on mobile and tablet  */
		background-image: none;
	}
	.woman-online-desktop,
	.box-desktop {
		display: none;
	}
	.woman-online-mobile {
		display: block;
		position: absolute;
		width: 50%;
		left: 50%;
		top: 0;
		transform: translate(-50%, -60%);
	}
	.content {
		width: 100%;
		z-index: 1;
	}
	h1 {
		text-align: center;
	}
}
@media screen and (max-width: 500px) {
	main {
		margin-top: 35%;
		padding: 25% 2rem 2rem 2rem;
	}
	.woman-online-mobile {
		width: 70%;
	}
}
@media screen and (max-width: 300px) {
	html {
		font-size: 12px;
	}
	.question-content {
		font-size: 1.2rem;
	}
	.woman-online-mobile {
		display: none;
	}
	main {
		padding: 1rem;
		width: 90%;
		margin: 1rem;
	}
}
